body {
	   background-image: url("../images/error.gif");
	   font-family: 'Varela', sans-serif;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
}

.show { 
   display:none;
}
